body {
    margin: 0;
    & * {
        box-sizing: border-box;
    }
}

.router-link-exact-active {
    color: #42b983;
}

a {
    text-decoration: none;
    color: black;
}

.wrapper-toasted {
    &.success {
        font-family: "Shippori Antique B1", sans-serif;
        
        &, & * {
            color: #0b331d !important;
            text-shadow: 0 0 black;
        }
    }
}